<div class="container-fluid">
    <div class="col-12 d-flex justify-content-center">
        <div class="col-4 todo-block">
            <h4 class="text-center mb-3 todo-header">Todo List</h4>
            <div class="col-12 d-flex align-items-center justify-content-between">
                <input type="col-8 todo-input" placeholder="Enter text..." type="text" name="text" [(ngModel)]="todoValue">
                <button type="submit" class="col-3 btn btn-primary" (click)= "addTodo()">Add</button>
            </div>
            <div class="todo-list mt-3">
                <h5>Todo List</h5>
                <div class="col-12 d-flex todo-single align-center" *ngFor="let todo of todoList; let i=index;">
                    <input type="checkbox" class="col-1 todo-checkbox" [(ngModel)]="todo.value" (ngModelChange)="changeTodo()">
                    <p class="col-9">{{todo.content}}</p>
                    <button type="button" class="btn btn-outline-light text-danger col-1 del-btn">
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
            </div>
            <!-- Finished List -->
            <div class="todo-list mt-3">
                <h5>Finished List</h5>
                <div class="col-12 d-flex todo-single align-center">
                    <input type="checkbox" class="col-1 todo-checkbox">
                    <p class="col-9">Todo Item</p>
                    <button type="button" class="btn btn-outline-light text-danger col-1 del-btn">
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>